<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1>Coveo Backend Challenge by Emmett Underhill</h1>
<a href="https://github.com/emmettu/backend-coding-challenge">Source</a>
<a href="https://github.com/emmettu/backend-coding-challenge">Docs</a>
<h2>Usage</h2>

Use the /suggestion route with any of the following querystring params:<br>
<br>n: The number of desired results<br>
<br>q: The city's name<br>
<br>population: The city's population.<br>
<br>latitude: The city's latitude.<br>
<br>longitude: The city's longitude.<br>
<br>closeto: Search for city's near this one<br>

<br>eg:
<a href="/suggestions?q=red&closeto=Edmonton&population=20000">/suggestions?q=red&closeto=Edmonton&population=20000</a>
